<header
  class="max-w-full max-h-full row-start-1 row-end-2 bg-primary flex items-center px-4 justify-between"
>
  <div class="flex items-center justify-center">
    <img class="max-h-16 max-w-16" src="/images/vitamins.png" alt="" />
    <a class="text-center hidden sm:block font-ralewayB" href="/"
      >Supplement<br />Inventory</a
    >
  </div>
  <nav>
    <ul class="flex gap-2 sm:gap-4 md:gap-6 lg:gap-8">
      <li>
        <a
          class="border-solid border-2 border-red rounded-md p-2"
          href="/categories"
          >Categories</a
        >
      </li>
      <li>
        <a
          class="border-solid border-2 border-red rounded-md p-2"
          href="/products"
          >Products</a
        >
      </li>
      <li>
        <a
          class="border-solid border-2 border-red rounded-md p-2"
          href="/brands"
          >Brands</a
        >
      </li>
    </ul>
  </nav>
</header>
