<main
  class="bg-bg row-start-2 row-end-7 flex justify-center items-center border-t-8 border-red"
>
  <img
    class="max-h-full inline-block"
    src="/images/clipboard.svg"
    alt="vitamins logo"
    srcset=""
  />
</main>
