@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "raleway";
  src: url("../fonts/raleway.regular.ttf")
}
@font-face {
  font-family: "ralewayB";
  src: url("../fonts/raleway.bold.ttf")
}